<ion-radio ng-model="panicType.assalto" ng-value="1"  ex="Panic('Chamar Supervisor')" ng-change="Panic(panicType.assalto)">
    Chamar Supervisor
</ion-radio>
<ion-radio ng-model="panicType.assaltoH" ng-value="2" ex="Panic('Assalto em andamento')" ng-change="Panic(panicType.assaltoH)">
    Assalto em andamento
</ion-radio>
<ion-radio ng-model="panicType.health" ng-value="3" ex="Panic('Problema de saúde')" ng-change="Panic(panicType.health)">
    Problema de saúde
</ion-radio>
