<ion-view view-title="Vihu - Login">
	<ion-content padding="false" class="bg-login">

		<div class="row">
			<div class="col">
				<div class="logo">
					<img src="img/vihu-logo-new.png" alt="">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<form name="loginForm" novalidate ng-submit="processForm(loginForm.$valid)">
					<div class="list list-inset customLogin">
						<label class="item item-input" ng-class="{ 'hasError' : loginForm.userlogin.$invalid && loginForm.userlogin.$touched }">
							<i class="icon ion-ios-person-outline"></i>
							<input type="tel" name="userlogin" ui-br-phone-number placeholder="Usuário" ng-model="loginForm.user" required>
						</label>
					</div>
					<!-- <p ng-show="loginForm.userlogin.$invalid && loginForm.userlogin.$touched" class="assertive customPadd">Usuário inválido.</p> -->

					<div class="list list-inset customLogin">
						<label class="item item-input" ng-class="{ 'hasError' : loginForm.senha.$invalid && loginForm.senha.$touched  }">
							<i class="icon ion-ios-locked-outline"></i>
							<input type="password" name="senha" placeholder="Senha" ng-model="loginForm.password" ng-minlength=6 required>
						</label>
					</div>

					<!-- <p ng-show="loginForm.senha.$invalid && loginForm.senha.$touched" class="assertive customPadd">Senha deve ter no mínimo 6 caracteres.</p> -->

					<div class="customPadd">
						<button type="submit" ng-disabled="loginForm.$invalid || isSaving" class="button button-block button-positive">
							<span class="loading-puff" ng-show="isSaving"><img src="img/puff.svg" alt=""></span>
							Enviar
						</button>
						<a href="" class="forgot" ng-click="openModalForgot()">Esqueceu sua senha?</a>
					</div>
				</form>
			</div>
		</div>
	</ion-content>
</ion-view>