<ion-modal-view>
    <ion-content padding="false">
        <a href="" class="close-modal" ng-click="closeModalSettings()"><i class="icon ion-ios-close-outline"></i></a>

        <!-- <div class="row">
            <div class="col">
                <div class="logo interna">
                    <img src="img/vihu-logo_dark-new.png" alt="">
                </div>
            </div>
        </div> -->

        <div class="row">
            <div class="col">
                <div class="content-head">
                    <i class="icon ion-gear-a"></i>
                    <h4>
                        Configurações do botão de pânico
                    </h4>
                    <p>
                        Adicione números para o botão de pânico
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form name="settingsForm" novalidate ng-submit="settingForm(settingsForm.$valid)" class="settingForm">
                    <div>
                        <div ng-repeat="card in cards | filter:{phone:'!null'}" on-swipe-left="removeCard(card)">
                            <div class="list card">
                                <label class="item item-icon-left">
                                    <i class="icon ion-ios-telephone"></i>
                                    <input type="tel" ui-br-phone-number id="" name="phone" placeholder="Telefone" ng-model="card.phone" required ng-change="savePanic(card.phone, settingsForm.$invalid)">
                                </label>

                                <div class="item item-text-wrap">
                                    <ion-checkbox ng-repeat="type in card.panictypes" ng-change="panicOpt()" ng-model="type.val">{{type.label}}</ion-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>

            </div>
        </div>
    </ion-content>

    <button ng-disabled="invalidForm || noPanicType" ng-click="addCard()" class="button button-positive roundedButton icon ion-android-add"></button>

</ion-modal-view>