<ion-view>
    <ion-content class="padding">

        <div class="row">
            <div class="col">
                <div class="content-head">
                    <i class="icon delivery"></i>
                    <h3>Delivery</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="col padding">
                    <p>
                        Senha será válida por até 8 horas.
                        <br><br>
                        Importante, esta senha não permitirá acesso,
                        apenas o avisará que seu pedido chegou.
                    </p>
                </div>

                <div class="customPadd">
                    <button type="button" class="button button-block button-positive" ng-disabled="savingDelivery"ng-click="requestDelivery()">
                        <span class="loading-puff" ng-show="savingDelivery"><img src="img/puff.svg" alt=""></span>
                        Solicitar Senha Delivery
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="col padding">
                    <ul class="delivery-code" ng-show="showCodes">
                        <li class="del-title">Códigos Válidos</li>
                        <li class="del-title">Data / Hora</li>

                        <li ng-repeat-start="delivery in deliveries">{{delivery.code}}</li>
                        <li ng-repeat-end="">{{delivery.codeTime}}</li>
                    </ul>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>