<ion-view>
    <ion-content class="padding">
        <style>

            .visitors-list {

            }

            .visitor-card {
                background-color: #cfcfcf;
                color: #333;
            }

            .visitor-card h2,
            .visitor-card p {
                color: #333 !important;
                font-size: 14px !important;
            }

            .visitor-card h2 {
                font-weight: bold;
                margin: 0px;
                padding-top:5px;
            }

            .visitor-card .contact p {
                font-size: 13px !important;
            }

            .visitor-card .image {
                position: absolute;
                top: 5px !important;
                left: 5px !important;
                max-width: 60px !important;
                max-height: 60px !important;
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }

            .visitor-card #item-select {
                margin-top: 20px !important;
                background-color: #CFCFCF !important;

            }

        </style>

        <div class="row">
            <div class="col">
                <div class="content-head">
                    <i class="icon party"></i>
                    <h3>Festas</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form name="partyForm" novalidate ng-submit="partyList(partyForm.$valid, partyForm)" class="festasForm">
                    <p class="padding note">Acesso permitido 30 minutos antes até 3 horas depois .</p>
                    <!--<p class="note"><strong>Atenção:</strong> selecione apenas números de celulares.</p>-->
                    <div class="list list-inset">
                        <ionic-datepicker input-obj="datepickerFesta">
                            <label class="item item-input">
                                <i class="icon ion-ios-calendar-outline"></i>
                                <button type="button" name="partyForm.dateParty" ng-model="partyForm.dateParty" class="button button-block button-default datePick-style">
                                    {{datepickerParty.inputDate | date:'dd-MM-yyyy'}}
                                </button>
                            </label>
                        </ionic-datepicker>
                    </div>

                    <div class="list list-inset">
                        <label class="item item-input" ng-class="{ 'hasError' : partyForm.horario.$invalid && partyForm.horario.$touched  }">
                            <i class="icon ion-ios-clock-outline"></i>
                            <input type="time" id="horario" name="horario" placeholder="Horário" ng-model="partyForm.hora" required>
                        </label>
                    </div>
                    <p ng-show="partyForm.horario.$invalid && partyForm.horario.$touched || showMessage" class="assertive customPadd">Horário da festa é obrigatório</p>

                    <div class="row">
                        <div class="col">
                            <div class="content-head">
                                <h4 style="margin-bottom:2px">Lista de Convidados</h4>
                                <h6 style="margin:0px">(disponível apenas para celulares)</h6>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <visitantes></visitantes>
                        </div>
                    </div>


                    <!--<div class="row">-->
                        <!--<div class="col col-75">-->
                            <!--<div class="list">-->
                                <!--<p class="no-margin">Celular do convidado</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col">-->


                            <!--<div class="list">-->
                                <!--<p class="no-margin">Acessos</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="invited-row">-->
                        <!--<div class="row each-guest">-->
                            <!--<div class="col col-67">-->
                                <!--<div class="list">-->
                                    <!--<label class="item item-input"-->
                                           <!--ng-class="{ 'hasError' : partyForm.celular.$invalid && partyForm.celular.$touched  }">-->
                                        <!--<i class="icon ion-iphone"></i>-->
                                        <!--<input type="tel" id="celular" name="celular" ui-br-phone-number-->
                                               <!--placeholder="Celular" ng-model="partyForm.phone" required>-->
                                    <!--</label>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col">-->
                                <!--<div class="list">-->
                                    <!--<tooltip ng-show="invalidField" ng-hide-->
                                    <!--"!invalidField" tooltip-template="Máximo de 5 convidados" tooltip-side="top"-->
                                    <!--class="tooltips _slow _multiline _ready _top active">-->
                                    <!--<tip class="smallerTip">-->
                                        <!--<tip-tip class="_large"><span id="close-button" style="display: none;">×</span>Máximo-->
                                            <!--de 5 convidados-->
                                        <!--</tip-tip>-->
                                        <!--<tip-arrow></tip-arrow>-->
                                    <!--</tip>-->
                                    <!--</tooltip>-->

                                    <!--<label class="item item-input" tooltips tooltip-template="Máximo de 5 convidados"-->
                                           <!--tooltip-side="top"-->
                                           <!--ng-class="{ 'hasError' : partyForm.amount.$invalid && partyForm.amount.$touched  }">-->
                                        <!--<input type="number" id="amount" name="amount" placeholder="0"-->
                                               <!--ng-model="partyForm.qtd" ng-change="addRow(partyForm)" required>-->
                                    <!--</label>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="row each-guest" ng-repeat="item in inputs">-->
                            <!--<div class="col col-67">-->
                                <!--<div class="list">-->
                                    <!--<label class="item item-input">-->
                                        <!--<i class="icon ion-iphone"></i>-->
                                        <!--<input type="tel" id="celular" name="cellphone" ui-br-phone-number-->
                                               <!--placeholder="Celular" ng-model="item.phone">-->
                                    <!--</label>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col">-->
                                <!--<div class="list">-->
                                    <!--<tooltip ng-show="item.qtd < 1 || item.qtd > 5" ng-hide-->
                                    <!--"item.qtd <= 5" tooltip-template="Máximo de 5 convidados" tooltip-side="top"-->
                                    <!--class="tooltips _slow _multiline _ready _top active">-->
                                    <!--<tip class="smallerTip">-->
                                        <!--<tip-tip class="_large">Máximo de 5 convidados</tip-tip>-->
                                        <!--<tip-arrow></tip-arrow>-->
                                    <!--</tip>-->
                                    <!--</tooltip>-->

                                    <!--<label class="item item-input">-->
                                        <!--<input type="number" id="amount" name="qtdade" placeholder="0"-->
                                               <!--ng-model="item.qtd" ng-change="addMoreRows(partyForm, item.qtd)">-->
                                    <!--</label>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->


                </form>
            </div>
        </div>

    </ion-content>
</ion-view>
