<style>
    .visitor-select {
        margin: auto;
        width: 100%;
        text-align: center;
    }

    .visitor-select .avatar img {
        width: 150px;
        height: 150px;
        border-radius: 50%
    }

    .button-select-visitor {
        width: 100%;
        text-align: center;
        margin: 0px 0px 30px 0px;
        position: relative
    }

    .visitor-select .round-container {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin: auto;
    }

    .visitor-select .round-container img {
        border: 0px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .visitor-select .plus-sign {
        text-align: center;
        margin: auto;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        background: url('img/plus-sign.png');
        background-size: contain;
    }

    .visitor-select .plus-sign i {
        font-size: 43px;
        line-height: 150px;
        color: #058CA4;
    }

    .visitor-select .plus-sign img {
        border: 0px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .visitor-select h4 {
        font-size: 19px;
        color: #416C7F !important;
        font-weight: normal;
    }

    .visitor-select button {
        font-size: 13px;
        color: white !important;
        font-weight: normal;
        text-transform: lowercase;
        padding: 2px 20px;
        background-color: #616161;
        border: none;
        border-radius: 20px;
        margin-top: 10px;
    }

    .button-select-visitor span .ion-edit {
        font-size: 17px;
        /*line-height: inherit;*/
        color: #058CA4;
        display: block;
        position: absolute;
        bottom: 53px;
        right: 95px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        line-height: 32px;
    }

    .button-select-visitor h6 {
        margin: 0px;
    }

    .button-select-visitor h4 {
        margin: 17px 0 0 0;
    }


</style>

<ion-view>
    <ion-content class="padding">

        <div class="row">
            <div class="col">
                <div class="content-head">
                    <i class="icon ion-ios-locked"></i>
                    <h4>Acessos para Visitantes</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="visitor-select" ng-click="selecionarContato()" ng-if="!contatoSelecionado">
                    <div class="button-select-visitor">
                        <div class="plus-sign">
                        </div>
                        <button>selecione um contato</button>
                    </div>
                </div>

                <div class="visitor-select" ng-click="selecionarContato()" ng-if="contatoSelecionado">
                    <div class="button-select-visitor">
                        <div class="round-container">
                            <img src="{{contatoSelecionado.foto || 'img/user.jpg' }}">
                            <span><i class="ion-edit"></i></span>
                        </div>
                        <h4>{{contatoSelecionado.name.formatted || 'Rodolfo Costa'}}</h4>
                        <h6>{{data.phoneSelected | tel }}</h6>
                    </div>
                </div>


                <form name="acessosForm" ng-model="acessosForm" novalidate ng-submit="allowForm(acessosForm.$valid)"
                      class="acessosForm">

                    <!--<div class="list">-->
                    <!--<div class="item item-avatar" style="border:0px; padding-left: 48px;">-->
                    <!--<img src="{{contatoSelecionado ? contatoSelecionado.foto : 'img/user.jpg'}}"-->
                    <!--style="left:0px">-->
                    <!--</div>-->
                    <!--</div>-->

                    <div class="list list-inset">
                        <ionic-datepicker input-obj="datepickerObjectPopup">
                            <label class="item item-input">
                                <i class="icon ion-ios-calendar-outline"></i>
                                <button type="button" name="acessosForm.date" ng-model="acessosForm.date"
                                        class="button button-block button-default datePick-style">
                                    {{datepickerObject.inputDate | date:'dd-MM-yyyy'}}
                                </button>
                            </label>
                        </ionic-datepicker>
                    </div>

                    <div class="list list-inset">
                        <label class="item item-input"
                               ng-class="{ 'hasError' : acessosForm.horario.$invalid && acessosForm.horario.$touched  }">
                            <i class="icon ion-ios-clock-outline"></i>
                            <input type="time" id="horario" name="horario" placeholder="Horário" ng-model="acessos.hora"
                                   required>
                        </label>
                    </div>


                    <!--<tooltip ng-show="setInvalidAmount" ng-hide "!setInvalidAmount" tooltip-template="Máximo de 5 convidados" tooltip-side="top" class="tooltips _slow _multiline _ready _top active">-->
                    <!--<tip class="smallerTip">-->
                    <!--<tip-tip class="_large">Máximo de 5 convidados</tip-tip>-->
                    <!--<tip-arrow></tip-arrow>-->
                    <!--</tip>-->
                    <!--</tooltip>-->

                    <!-- <div class="list list-inset">
                        <label class="item item-input">
                            <i class="icon ion-ios-person-outline"></i>
                            <input type="number" id="amount" name="amount" placeholder="Quantidade de acessos" ng-model="acessos.qtd" required ng-change="validateAmount(acessos.qtd)">
                        </label>
                    </div> -->

                    <div class="list list-inset">
                        <label class="item item-input item-select" style="height: 50px;">
                            <div class="input-label">
                                <i class="icon ion-ios-person-outline"></i>
                            </div>
                            <!--<select style="padding: 0 20px 0 0px; right: 8px" ng-model="acessos.qtd" required>-->
                            <!--<option value="1" selected>1</option>-->
                            <!--<option value="2">2</option>-->
                            <!--<option value="3">3</option>-->
                            <!--<option value="4">4</option>-->
                            <!--<option value="5">5</option>-->
                            <!--</select>-->

                            <select ng-model='acessos.qtd' required
                                    ng-options='option.qtd as option.name for option in accessOptions'></select>

                        </label>


                    </div>

                    <!--<div class="list list-inset">-->
                    <!--<ion-checkbox-->
                    <!--ng-model="onlyExiting"-->
                    <!--ng-true-value="'S'" name="onlyExiting">Somente saída do visitante-->
                    <!--</ion-checkbox>-->


                    <!--</div>-->

                    <div class="list list-inset"
                         style="background-color: #e4e3e3 !important; border-bottom: 1px dashed #A09595">
                        <ion-toggle ng-model="onlyExiting"
                                    ng-true-value="'S'" name="onlyExiting" toggle-class="toggle-calm"
                                    style="background-color: #e4e3e3 !important; border:none">Somente para saída do
                            visitante
                        </ion-toggle>
                    </div>

                    <pre ng-bind="onlyExiting | json" style="display: none;"></pre>

                    <p class="padding note" style="color: #4d4d4d;">Acesso permitido 30 minutos antes e até 3 horas
                        depois do horário
                        selecionado.</p>


                    <div class="customPadd">
                        <button type="submit"
                                ng-disabled="acessosForm.$invalid || savingAcess || invalidPhone || accessVisitorsSelected.name === 'undefined' || acessos.qtd < 1 || !contatoSelecionado"
                                class="button button-block button-positive">
                            <span class="loading-puff" ng-show="savingAcess"><img src="img/puff.svg" alt=""></span>
                            Enviar
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </ion-content>
</ion-view>
