<div class="list party visitors-list">
    <div class="title" style="display:table; width: 100%">
        <h5 style="display:table;float:left ;font-weight:bold; padding-left: 16px;">Contato</h5>
        <h5 style="display:table;float:right;font-weight:bold; padding-right: 16px;">Convites</h5>
    </div>
    <div class="list card" style="margin-top: -7px;">

        <!--<div class="item" ng-if="visitorsSelected.length<1">-->
        <!--Nenhum visitante selecionado. Clique no botão abaixo-->
        <!--</div>-->

        <div class="item item-avatar visitor-card party-visitors" ng-repeat="visitor in visitorsSelected" data-visitor-id="{{visitor.id}}" on-swipe-right="remove($index,visitor)" on-hold="remove($index, visitor)"
             on-double-tap="remove($index,visitor)">

            <div class="contact" style="float:left"><img src="{{visitor.picture}}" class="image">
                <h2>{{visitor.name}}</h2>
                <p>{{visitor.phoneSelected | tel}}</p>


            </div>

            <div class="tickets" style="float:right">
                <label class="item item-input item-select" style="width: 60px; height: 50px; float:left; margin-left: -12px">
                    <div class="input-label">

                    </div>

                    <!---


                            $scope.accessOptions = [
                                { name: '1', qtd: '1' },
                                { name: '2', qtd: '2' },
                                { name: '3', qtd: '3' },
                                { name: '4', qtd: '4' },
                                { name: '5', qtd: '5' },
                            ];

                            $scope.acessos = {
                                qtd : $scope.accessOptions[0].qtd
                            };



                    -->

                    <!--<select ng-model="visitor.tickets" required >-->
                        <!--<option value="1" selected>1</option>-->
                        <!--<option value="2">2</option>-->
                        <!--<option value="3">3</option>-->
                        <!--<option value="4">4</option>-->
                        <!--<option value="5">5</option>-->
                    <!--</select>-->

                    <select style="padding: 0 20px 0 0px; right: 8px" ng-model='visitor.tickets' ng-init="visitor.tickets = 1" required ng-options='acessos.qtd as acessos.name for acessos in accessOptions'>

                    </select>

                </label>
            </div>
        </div>


        <a class="item select" id="item-select" href="#" ng-click="selectContact()"
           style="background-color: #CFCFCF;font-size: 13px;">
            <img src="img/plus-sign-small.png" style="float:left">
            <span style="height: 100%; display: table-cell; vertical-align: middle; float: left;padding-left: 11px;padding-top: 18px;">
                adicionar contato
            </span>
        </a>
    </div>

    <div class="">
        <!--<button type="submit" class="button button-block button-positive">-->
            <button type="submit" ng-disabled="!partyForm.hora" class="button button-block button-positive">
            <span class="loading-puff" ng-show="savingParty"><img src="img/puff.svg" alt=""></span>
            Enviar
        </button>
    </div>


</div>