<ion-view>
    <ion-content class="padding">

        <div class="row">
            <div class="col">
                <div class="content-head">
                    <i class="icon concierge"></i>
                    <h3>Zeladoria</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="col padding">
                    <p>
                        Solicitação será enviada para o zelador,
                        que em breve irá entrar em contato.
                    </p>
                </div>

                <div class="customPadd">
                    <button type="button" class="button button-block button-positive" ng-disabled="savingConcierge" ng-click="requestConcierge()">
                        <span class="loading-puff" ng-show="savingConcierge"><img src="img/puff.svg" alt=""></span>
                        Solicitar Zelador
                    </button>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>