<!-- <ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <ion-tab href="#/tab/home" title="Home" icon-off="ion-home" icon-on="ion-home" on-select="fadeIn(0, this)">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <ion-tab href="#/tab/delivery" title="Delivery" icon-off="delivery" icon-on="delivery" on-select="fadeIn(1, this)">
        <ion-nav-view name="tab-delivery"></ion-nav-view>
    </ion-tab>

    <ion-tab href="#/tab/zelador" title="Zelador" icon-off="concierge" icon-on="concierge" on-select="fadeIn(2, this)">
        <ion-nav-view name="tab-zelador"></ion-nav-view>
    </ion-tab>

    <ion-tab href="#/tab/relatorios" title="Relatórios" icon-off="ion-ios-paper" icon-on="ion-ios-paper" on-select="fadeIn(3, this)">
        <ion-nav-view name="tab-relatorios"></ion-nav-view>
    </ion-tab>

</ion-tabs> -->