<!DOCTYPE html>
<html>
    <head>
         <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">-->
        <!--<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">-->


        <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://10.0.0.3:35729 http://192.168.1.36:35729">


        <!-- <meta name="format-detection" content="telephone=no"> -->
        <!-- <meta name="msapplication-tap-highlight" content="no"> -->
        <meta charset="utf-8">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

        <title>Vihu</title>
        <link href="css/styles.css" rel="stylesheet">

</head>
    <body ng-app="vihu" ng-controller="MainController" ng-init="checkLogin()">

        <ion-side-menus>
            <ion-side-menu side="left">

                <div class="row">
                    <div class="col">
                        <div class="logoholder">
                            <div class="logo-header-menu">
                                <img src="img/vihu-header-new.png" alt="">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col menu-buttons">
                        <button menu-close="" class="button button-block icon-left ion-ios-arrow-right button-clear button-light" ng-click="openModalChange()">
                            Alterar Senha
                        </button>

                        <button menu-close="" class="button button-block icon-left ion-ios-arrow-right button-clear button-light customLH" ng-click="openModalSettings()">
                            Configura&#xE7;&#xF5;es do bot&#xE3;o de p&#xE2;nico
                        </button>

                        <button menu-close="" class="button button-block icon-left ion-ios-arrow-right button-clear button-light" ng-click="sair()">
                            Sair
                        </button>
                    </div>
                </div>

            </ion-side-menu>

            <ion-side-menu-content drag-content="false">
                <ion-header-bar class="bar-stable" ng-show="logged">
                    <button ng-click="toggleLeftSideMenu()" class="button button-icon icon ion-navicon"></button>
                    <div class="logo-header">
                        <img src="img/vihu-header-new.png" alt="">
                    </div>

                    <button class="button button-assertive icon ion-alert-circled" ng-show="logged" style="float:left;" ng-click="panicPress()"></button>

                    <!-- <button class="button button-icon"></button> -->
                </ion-header-bar>

                <ion-nav-view></ion-nav-view>

                <ion-footer-bar class="bar-royal no-padding footer" ng-show="logged">
                    <div class="button-bar">
                        <a href="#/home" class="button button-icon ion-home topp" title="Home" ng-class="{active:activeMenu==0}" ng-click="activeMenu = 0">
                           <span class="title-nav">Visitantes</span>
                        </a>

                        <a href="#/delivery" class="button button-icon delivery" title="Delivery" ng-class="{active:activeMenu==1}" ng-click="activeMenu = 1">
                           <span class="title-nav">Delivery</span>
                        </a>

                        <a href="#/festas" class="button button-icon party" title="Festas" ng-class="{active:activeMenu==2}" ng-click="activeMenu = 2">
                           <span class="title-nav">Festas</span>
                        </a>

                        <a href="#/zelador" class="button button-icon concierge" title="Zelador" ng-class="{active:activeMenu==3}" ng-click="activeMenu = 3">
                           <span class="title-nav">Zelador</span>
                        </a>

                        <a href="#/relatorios" class="button button-icon ion-ios-paper topp" title="Relat&#xF3;rios" ng-class="{active:activeMenu==4}" ng-click="activeMenu = 4">
                           <span class="title-nav">Relat&#xF3;rios</span>
                        </a>
                    </div>
                </ion-footer-bar>

            </ion-side-menu-content>
        </ion-side-menus>

        <script type="text/javascript">//<![CDATA[
//        document.write('<script src="http://10.0.0.3:35729/livereload.js?snipver=1" type="text/javascript"><\/script>')

        if(navigator.userAgent.match(/(iPhone|iPod|iPad|Android|BlackBerry|Windows Phone)/)){
            document.write('<script src="cordova.js"><\/script>');
        };
        //]]>
        </script>

        <!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->
<!-- <script src="cordova.js"></script> -->
        <script src="js/vendor.js"></script>
        <script src="js/app.js"></script>
        <!-- <script src="https://code.angularjs.org/1.3.0-rc.2/angular-messages.js"></script> -->
    </body>
</html>
