.logo{
	margin: 0 auto;
	text-align: center;
	margin-top: 100px;
	img{
		width: 160px;
	}
	&.interna{
		margin-top: 30px;
		margin-bottom: 30px;
		img{
			width: 140px;
		}
	}
}

.clearfix{
    clear: both;
}

.popStyle .popup{
	padding: 10px 20px 20px 20px;
	width: 250px !important;
}
.panicPopStyle .popup{
	padding: 0px;
	top: 50px;
	position: absolute;
	right: 10px;
	.item-radio .item-content span{
		font-size: 120% !important;
	}
	.popup-head{
		display: none;
	}
}
.popup-container .popup{
	width: 95% !important;
}
.bg-login{
	width: 100%;
	height: 100%;
	background: url(../img/bg-login.jpg) no-repeat;
}

.customPadd{
	padding: 0px 10px;
	text-align: center;
}
.list-inset{
	margin: 10px !important;
}

// LOADING SVG
span.loading-puff{
	position: absolute;
	left: 0;
	top: 0px;
	padding: 10px 10px;
	height: 100%;
	img{
		width: 30px;
	}
	&.modal-anim{
		padding: 5px 5px;
	}
}
.loading-container .loading{
	position: relative;
}
// HEADER

.bar.bar-stable{
	background: url(../img/header-bg.jpg) repeat-y !important;
	.logo-header{
		margin: 0 auto;
		text-align: center;
		width: 90px;
		img{
			width: 100%;
		}
	}
	.button, .button:hover{
		color: #fff;
	}
}

// HEADER MENU
.logoholder{
	margin: 0 auto;
	width: 90%;
	padding-top: 15px;
	padding-bottom: 10px;
	border-bottom: solid 1px #fff;
}
.logo-header-menu{
	margin: 0 auto;
	text-align: center;
	width: 90px;
	img{
		width: 100%;
	}
}

.menu-buttons{
	margin-top: 30px;
	.button{
		text-align: left !important;
	}
	.button.icon-left:before{
		padding-right: 0.6em;
	}
	.button .icon:before, .button.icon:before, .button.icon-left:before, .button.icon-right:before{
		font-size: 17px;
	}
}

.title-nav{
	text-align: center;
	font-size: 11px;
	position: absolute;
	left: 50%;
	width: 100%;
	margin-left: -50%;
	bottom: -6px;
}

.no-margin{
	margin: 0px;
}

.selectOption{
	position: absolute;
	right: 10px;
	top: 60px;
	// display: none;
	.item{
		padding: 18px 20px;
	}

	&:after, &:before{
		bottom: 100%;
		right: 0px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after{
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #fff;
		border-width: 10px;
		margin-left: -10px;
	}
	&:before{
		border-color: rgba(221, 221, 221, 0);
		border-bottom-color: #ddd;
		border-width: 11px;
		margin-left: -11px;
	}
}

a.openPanicopt{
	padding: 10px 0px;
}

.calendar_grid .col{
	text-align: center;
}


// CONTENT HEADER
.content-head{
	text-align: center;
	i{
		color: #cad3d6;
		font-size: 60px;
		&.delivery{
			background: url(../img/tab-icons/delivery-blue.svg) no-repeat center;
			width: 90px;
			height: 60px;
			display: block;
			background-size: 100%;
			margin: 0 auto;
		}
		&.concierge{
			background: url(../img/tab-icons/zelador-blue.svg) no-repeat center;
			width: 90px;
			height: 60px;
			display: block;
			background-size: 100%;
			margin: 0 auto;
		}
		&.party{
			background: url(../img/tab-icons/party-blue.svg) no-repeat top;
			width: 55px;
			height: 50px;
			display: block;
			background-size: 90%;
			margin: 0 auto;
		}
	}
}

.bar-footer{
	height: 49px !important;
}
.no-padding{
	padding: 0px !important;
}
.footer .button-bar a{
	color: #fff;
	padding: 5px;
	opacity: 1;
}
.topp{
	padding-top: 1px !important;
}

a.delivery{
	background-image: url(../img/tab-icons/delivery.svg) !important;
	background-repeat: no-repeat !important;
	background-position: center -1px !important;
	width: 40px;
	display: block;
	background-size: 57% !important;
	margin: 0 auto;
}

a.concierge{
	background-image: url(../img/tab-icons/zelador.svg) !important;
	background-repeat: no-repeat !important;
	background-position: center -3px !important;
	width: 40px;
	display: block;
	background-size: 60% !important;
	margin: 0 auto;
}

a.party{
	background-image: url(../img/tab-icons/party.svg) !important;
	background-repeat: no-repeat !important;
	background-position: center 2px !important;
	width: 40px;
	display: block;
	background-size: 47% !important;
	margin: 0 auto;
}

.bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before{
	font-size: 28px !important;
}

.acessosForm, .relatorioForm, .forgotForm, .festasForm{
	.list-inset{
		margin: 5px 10px !important;
	}
	.note{
		font-size: 13px;
		padding: 5px 20px 0px 20px;
		line-height: 1.3;
	}
	input{
		padding-left: 10px !important;
	}
	&[type="time"]{
		padding-top: 1px !important;
	}
}

.modal{
	background: rgb(224, 231, 232) !important;
}
a.close-modal {
    position: absolute;
    right: 15px;
    top: 20px;
    color: #2c3847;
    font-size: 32px;
}

.button{
	border: none !important;
	border-radius: 0px !important;
}

.datePick-style{
    padding: 0px 10px !important;
    text-align: left !important;
    margin: 0 !important;
    border-color: #ddd !important;
    background-color: #fff !important;
    font-size: 14px !important;
    min-height: 40px !important;
    i{
    	font-size: 12px;
    }
}
.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated{
	margin-top: 0px !important;
	border-width: 0px 0 0 0 !important;
}
.tabs-striped .tabs{
	border-bottom: 0px !important;
}

.delivery-code{
	li{
		float: left;
		width: 50%;
		padding: 4px 0px;
		&.del-title{
			font-weight: bold;
			color: #333;
		}
		&:nth-child(even){
			text-align: right;
			float: right;
		}
	}
}

.smallerTip{
	padding: 8px 10px;

	tip-tip._large{
		font-size: 0.95em;
	}
}