/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #058ca4 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #253848 !default;
$dark:                            #444 !default;

//== Typography
$font-regular: 		'latoregular';
$font-light: 		'latolight';

@import "base";


//
//
//.visitor-select {
//    img {
//      border-radius: 50%;
//      width: 200px;
//      height:200px
//    }
//  }
//}
//
//
//.bar.bar-stable .logo-header {
//	margin: 0 auto;
//	text-align: center;
//	width: 100px !important;
//}
//
//.logo-header button {
//	margin: 0 auto;
//	background-color:red !important
//}
//
//


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	color: #5f5f5f !important;
}
a{
	text-decoration: none;
	color: #fff;
	font-family: $font-regular;
}
.pane, .view{
	background: #e4e3e3 !important;
}
.tabs{
	padding-top: 0px !important;
	background-color: #253848 !important;
}
.tab-item{
	opacity: 1 !important;
}
.tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item{
	padding-top: 2px !important;
	color: #fff !important;
	background: #253848 !important;
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated{
	color: #fff !important;
	background: #4e91a4 !important;
	padding-top: 1px !important;
}

.footer .button-bar a.active{
	background-color: $positive !important;
	opacity: 1;
	color: #fff;
}

a.forgot{
	color: #fff;
}

.menu{
	background-color: #444a54 !important;
}

.customLH{
	line-height: 1.3 !important;
}

.settingForm {
	.item{
		padding: 12px;
	}
	.item-checkbox{
		padding-left: 60px;
	}
	.item-icon-left {
		padding: 12px 12px 12px 74px;
		.icon{
			left: 25px;
		}
	}
	.checkbox-icon{
		width: 25px;
    	height: 25px;
    }
    .customPadd{
    	text-align: right;
    }
}

.roundedButton{
	position: fixed !important;
	right: 20px;
	bottom: 20px;
	min-width: 47px !important;
	min-height: 47px;
	border-radius: 47px !important;
	// margin-top: 60px;
	box-shadow: #5E5E5E -2px 2px 10px -1px;
}



// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../fonts" !default;

// Include all of Ionic
@import "../bower_components/ionic/scss/ionic";


